In [2]:
from utilities.load_data import load_fullECAI

In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [4]:
dataset = load_fullECAI()

,status,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,V_11,V_12,V_13,V_14,V_15,V_20,V_21,V_22,V_23
count,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000
mean,0.108475,8.894744,1.258207,1.462277,1.541156,1.189098,7.841478,23.228248,0.028451,-0.065396,1.368502,1.331122,0.194618,37.094463,0.062512,0.069327,104.540047,76.215487,95.752742,3397.433034
std,0.310989,19.381710,3.341354,0.798856,1.212106,1.007325,23.882682,72.012435,0.146681,0.792478,1.060359,1.055996,0.494868,93.111214,0.196162,0.219726,351.177911,114.619017,132.276740,7532.012991
min,0.000000,-67.150000,-9.590000,0.100000,0.000000,-0.020000,-33.140000,-285.860000,-1.340000,-8.930000,0.000000,0.000000,-3.490000,-208.860000,-2.080000,-2.660000,0.000000,0.000000,0.000000,2.000000
25%,0.000000,1.250000,0.000000,1.070000,0.970000,0.620000,0.940000,1.250000,0.010000,0.000000,0.690000,0.660000,0.010000,2.530000,0.020000,0.020000,0.000000,0.000000,0.000000,602.000000
50%,0.000000,3.730000,0.060000,1.200000,1.220000,0.980000,1.750000,3.610000,0.030000,0.070000,1.160000,1.120000,0.100000,7.450000,0.060000,0.060000,20.000000,51.000000,67.000000,1146.000000
75%,0.000000,9.850000,1.170000,1.540000,1.720000,1.400000,4.790000,16.830000,0.070000,0.210000,1.740000,1.700000,0.380000,28.410000,0.110000,0.120000,80.000000,100.000000,135.000000,2759.000000
max,1.000000,207.090000,33.380000,8.270000,15.890000,10.910000,300.770000,571.220000,0.510000,1.280000,8.500000,8.500000,3.950000,750.360000,0.940000,1.410000,5569.000000,1493.000000,1531.000000,79454.000000

In [6]:
dataset.describe()

,status,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9
count,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000,15045.000000
mean,0.108475,8.894744,1.258207,1.462277,1.541156,1.189098,7.841478,23.228248,0.028451,-0.065396
std,0.310989,19.381710,3.341354,0.798856,1.212106,1.007325,23.882682,72.012435,0.146681,0.792478
min,0.000000,-67.150000,-9.590000,0.100000,0.000000,-0.020000,-33.140000,-285.860000,-1.340000,-8.930000
25%,0.000000,1.250000,0.000000,1.070000,0.970000,0.620000,0.940000,1.250000,0.010000,0.000000
50%,0.000000,3.730000,0.060000,1.200000,1.220000,0.980000,1.750000,3.610000,0.030000,0.070000
75%,0.000000,9.850000,1.170000,1.540000,1.720000,1.400000,4.790000,16.830000,0.070000,0.210000
max,1.000000,207.090000,33.380000,8.270000,15.890000,10.910000,300.770000,571.220000,0.510000,1.280000

In [4]:
# Correlation with target
dataset.corr().loc[:,'status']

status    1.000000
V_1       0.003299
V_2       0.006055
V_3      -0.171944
V_4      -0.139699
V_5      -0.138813
V_6      -0.027045
V_7      -0.125845
V_8      -0.388083
V_9      -0.292914
V_10     -0.032936
V_11     -0.026330
V_12     -0.083087
V_13     -0.117566
V_14     -0.319020
V_15     -0.295908
V_20      0.034503
V_21      0.215793
V_22      0.103322
V_23     -0.060855
Name: status, dtype: float64